<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeIZjMQoxM8u2rUTn4gcCl1Hjv3ULe4_c</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>799272684822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>proJ.PopAPill</string>
	<key>PROJECT_ID</key>
	<string>popapillapp</string>
	<key>STORAGE_BUCKET</key>
	<string>popapillapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:799272684822:ios:18216e2accdb302fabd437</string>
</dict>
</plist>
